.footer
    .footer-wrapper.container  
        a(href="index.html")  
            img(src="static/img/logo.svg", alt="logo-footer")
        img(src="static/img/pic.svg", alt="alt")
    a(href="#") © 2024. All Rights Reserved