.header
    .header-wrapper.container  
        img(src="static/img/logo.svg", alt="logo")
        .header-contact
            span.header-contact__text 5/5 based on 1600 reviews
            span.header-contact__text 646-517-0375
            a.header-contact__link(href="#")  Request A Call Back
            a.header-contact__link(href="#") Browse Inventory