extends ../layout/main.pug
block title
    | Docment
block content
    include ../blocks/header.pug
    
    .hero
        .hero-wrapper.container--second
            .hero-content 
                h1.hero-content-title Lease a car
                .hero-content-wrapper 
                    img(src="static/img/icon/zero-ico.svg", alt="alt")
                    .hero-content-wrapper__text
                        p.hero-content-wrapper__text-title Down lease on all makes & models!
                        p.hero-content-wrapper__text-title Excludes: first month,  acquisition fee, new / transfer and more... 
                ul
                    li 
                        span Exclusive access to marked down leasing inventory
                    li 
                        span Limited Discounts that are not available to general    public
                    li 
                        span We Buy All Trades
                    li 
                        span Price Match Guarantee
                    li 
                        span FREE Delivery To Home/Office
                img(src="static/img/hero-company.png", width='560' height='72'  alt="alt")
            .hero-form
                h3.hero-form__title Instant Lease Quote
                span.hero-form__subtitle Bad credit? Not a problem.Contact Us!
                form
                    <input placeholder="Full name" type="text" id="name" name="name" required>
                    <input placeholder="Email" type="email" id="email" name="email" required>
                    <input placeholder="Phone" type="tel" id="phone" name="phone" required>
                    <input placeholder="Car model" type="text" id="car_model" name="car_model" required>
                    button.form-btn(type='Send message') Send message
                p.hero-form__note * Absolutely the best lease deals in Tri-State. Note: Our monthly specials & deals are not published.
    .hero-compony
        .container--second
            img(src="static/img/company-all.png", alt="alt")
            
    main
        //rank start
        .rank
            h2.rank__title Best rated car leasing company 
            p.rank__subtitle Down lease on all makes & models!
            .rank-wrap
                .container.rank-wrapper
                        .rank-content
                            h2.rank-content-title Best rated & most trusted by CARS.COM
                            p.rank-content-subtitle Dealer of the year by DEALERRATER.COM
                        img(src="static/img/company-reted-all.png", width='980' height='121'        alt="alt")
        //rank end
        
        //about start
        .about.container 
                h1.about__title Why Choose Us?
                .about-wrapper 
                    .about-item
                        img(src="static/img/icon/about-icon/cash-ico.svg", width='40' height='40' alt="alt")
                        p.about-item-title We pay cash for all makes/models
                    .about-item
                        img(src="static/img/icon/about-icon/inventory-ico.svg", width='40' height='40' alt="alt")
                        p.about-item-title We pay cash for all makes/models
                    .about-item
                        img(src="static/img/icon/about-icon/discounts-ico.svg", width='40' height='40' alt="alt")
                        p.about-item-title We pay cash for all makes/models
                    .about-item
                        img(src="static/img/icon/about-icon/location-ico.svg", width='40' height='40' alt="alt")
                        p.about-item-title We pay cash for all makes/models
        //about end
        
        //quote
        
        .quote
            .quote-form
                h2.quote-form__title Get Your Instant Car Lease Quote
                p.quote-form__suptitle Contact us today!
                form
                    <input placeholder="Full name" type="text" id="name" name="name" required>
                    <input placeholder="Email" type="email" id="email" name="email" required>
                    <input placeholder="Phone" type="tel" id="phone" name="phone" required>
                    button.form-btn(type='Send message') Send message
            .quote-image 
                img(src="static/img/bg-car.png", alt="alt")
        
        //quote
        
        //comparison
        
        .comparison.container--second
            h2.comparison-title Same Car. Better Price
            p.comparison-suptitle Licensed, insured and bonded
            ul 
                li
                    a(href="#") 01. Choose your car
                li
                    a(href="#") 02. Get your quote
                li
                    a(href="#") 03. Confirm quote
                li
                    a(href="#") 04. Locate your car
                li
                    a(href="#") 05. Free delivery
            .comparison-content
                .comparison-content__item
                    h2.comparison-content__item-title ecar 
                        span lease
                    ul 
                        li
                            span Vehicle MSRP
                            span Same
                        li
                            span Vehicle Delivery
                            span $0
                        li
                            span Broker Fee
                            span $0
                        li
                            span Other Expenses
                            span $0
                        li
                            span Hidden Fees
                            span $0
                .comparison-content__center-item 
                    span.comparison-content__center-item_title VS
                    span.comparison-content__center-item_suptitle the difference
                    ul 
                        li $0
                        li +$249
                        li +$399        
                        li +$499
                        li +$449
                .comparison-content__item
                    h2.comparison-content__item-title2 Dealership/Leasing Co.
                    ul 
                        li
                            span Vehicle MSRP
                            span Same
                        li
                            span Vehicle Delivery
                            span $249+
                        li
                            span Broker Fee
                            span $399+
                        li
                            span Other Expenses
                            span $499+  
                        li
                            span Hidden Fees
                            span $499+
            .comparison-content-bottom 
                p *Beside you're savings, eAutoLease is always here to help with any of your automotive needs. All values are approximated and/or average.
                ul      
                    li
                        span Price Difference With
                        span $1,596
        //comparison
        
        //promo 
        
        .promo 
            .container--second
                h2.promo-title Did we mention No Money (Zero) Down on all Makes & Models!
                p.promo-sun-title No hidden fees, or unexpected surprises
                button.promo-btn SLease Prices on all Makes & Models 
        
        //promo 
        
        //card start
        .card.container--second
            .card-item
                img(src="static/img/icon/card-icon/message-ico.svg", width='40' height='40' alt="alt")
                .card-item-content 
                    span.card-item-content__title 3000+
                    p.card-item-content__subtitle 5.0 Star Trusted Reviews 
            .card-item
                img(src="static/img/icon/card-icon/message-ico.svg", width='40' height='40' alt="alt")
                .card-item-content 
                    span.card-item-content__title 3000+
                    p.card-item-content__subtitle 5.0 Star Trusted Reviews          
            .card-item
                img(src="static/img/icon/card-icon/message-ico.svg", width='40' height='40' alt="alt")
                .card-item-content 
                    span.card-item-content__title 3000+
                    p.card-item-content__subtitle 5.0 Star Trusted Reviews          
            .card-item
                img(src="static/img/icon/card-icon/message-ico.svg", width='40' height='40' alt="alt")
                .card-item-content 
                    span.card-item-content__title 3000+
                    p.card-item-content__subtitle 5.0 Star Trusted Reviews          
                    
                    
                    
                             
        //card end
        
        //slider
        
        .reviews 
            h2.reviews-title What Our Customers Have To Say!
            p.reviews-suptitle Thousands of satisfied customers
            .reviews-slider.swiper 
                .reviews-slider-wrapper.swiper-wrapper.swiper-slide
                    .reviews-slider-item 
                        p Alex R. was a pleasure to work with. Not only did he answer every question I had, he was patient and looked out for my best interest. He had better prices than every dealer i went to. We had trouble getting approved but he pulled strings and made it happen. He had hookups with insurance and he handled everything from start to finish.
                        span Gecko Buildsa (Google User)
                        .reviews-slider-item-pagination 
                            ul 
                                li.active
                                li
                                li
                                li
                                li
                                li
                        
        
        //slider
        
        //banner
        .banner
            .container--another 
                h2.banner-title Subscribe for the best car lease deals & promotions
                p.banner-suptitle Most attractive business lease offers
                form
                    <input placeholder="Enter your email" type="text" required>
                    button.banner-btn Subscribe
        //banner
        
        // contact-info
        .contact-info 
            .container--another
                h2.contact-info-title Support
                p.contact-info-suptitle Call us to uncover hidden monthly deals
                .contact-info-wrapper 
                    .contact-info-wrapper__item 
                        img(src="static/img/icon/support.svg", width='60' height='60' alt="alt")
                        .contact-info-wrapper__item-content 
                            h3.contact-info-wrapper__item-content-title Online chat now
                            a.contact-info-wrapper__item-content-suptitle(href="#") Text us
                    .contact-info-wrapper__item 
                        img(src="static/img/icon/support.svg", width='60' height='60' alt="alt")
                        .contact-info-wrapper__item-content 
                            h3.contact-info-wrapper__item-content-title 646-506-9340
                            a.contact-info-wrapper__item-content-suptitle(href="#") Call us
                    .contact-info-wrapper__item 
                        img(src="static/img/icon/support.svg", width='60' height='60' alt="alt")
                        .contact-info-wrapper__item-content 
                            h3.contact-info-wrapper__item-content-title example@gmail.com
                            a.contact-info-wrapper__item-content-suptitle(href="#") Email us
        // contact-info  
        
        


    include ../blocks/footer.pug













